/* #img_video{
  width: 500px;
  margin-top:2rem;
  position:absolute;
  right:2rem;
}

.main_text{
  position: absolute;
  left: 2rem;
  color:#2b2a33;
  font-size: 4rem;
  margin-top:6rem;
  display: block;
  width: 70%;
  font-family: Poppins;
}

h4{
  position: absolute;
  margin-top: 20rem;;
} */